<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Enter required information
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="fa fa-edit"></i> <%= link_to "Back", :back %>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= form_for :@bank_detail, url: employee_bank_detail_index_path, html: { method: :post } do |f| %>
          <div class="table-responsive"> 
            <table class="table table-bordered table-hover">
              <tr>
                <td><%= f.label :bank_name %>&nbsp&nbsp</td>
                <td><%= f.text_field :bank_name %></td>
              </tr>
              <tr>
                <td><%= f.label :branch_name %>&nbsp&nbsp</td>
                <td><%= f.text_field :branch_name %></td>
              </tr>
              <tr>
                <td><%= f.label :address %>&nbsp&nbsp</td>
                <td><%= f.text_area :address %></td>
              </tr>
              <tr>
                <td><%= f.label :city %>&nbsp&nbsp</td>
                <td><%= f.text_field :city %></td>
              </tr>
              <tr>
                <td><%= f.label :account_number %>&nbsp&nbsp</td>
                <td><%= f.text_field :account_number %></td>
              </tr>
            </table>
            <%= f.submit "Save Bank Details", class: "btn btn-default" %> &nbsp
            <button type="reset" class="btn btn-default">Reset Button</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
