<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Bank information <small><%= @employee.full_name %></small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <%= link_to " Back", :back, class: "glyphicon glyphicon-arrow-left" %>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="table-responsive"> 
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <td><b>Bank Name</b></td>
              <td><b><%= @bank_detail.bank_name %></b></td>
            </tr>
            <tr>
              <td><b>Account No</b></td>
              <td><b><%= @bank_detail.account_number %></b></td>
            </tr>
            <tr>
              <td><b>Branch Name</b></td>
              <td><%= @bank_detail.branch_name %></td>
            </tr>
            <tr>
              <td><b>Address</b></td>
              <td><%= @bank_detail.address %></td>
            </tr>
            <tr>
              <td><b>City</b></td>
              <td><%= @bank_detail.city %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
