<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
        <h3>Edit Information</h3>
          <%= render :partial => "layouts/devise_flash_message" %>
          Edit information
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <%= link_to " Back", :back, class: "glyphicon glyphicon-arrow-left" %>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="form-group">

            <%= f.label :first_name %></br>
            <%= f.text_field :first_name, autocomplete: "off", class: "form-control" %></br>

            <%= f.label :last_name %></br>
            <%= f.text_field :last_name, autocomplete: "off", class: "form-control" %></br>

            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %></br>

            <%= f.label :address %>
            <%= f.text_field :address, class: "form-control" %></br>

            <%= f.label :pin_code %>
            <%= f.text_field :pin_code, class: "form-control" %></br>

            <%= f.label :city %>
            <%= f.text_field :city, class: "form-control" %></br>

            <%= f.label :mobile %>
            <%= f.text_field :mobile, class: "form-control" %></br>

            <%= f.label :date_of_birth %>&nbsp&nbsp
            <%= f.date_select :dob, order: [:day, :month, :year] %></br></br>

            <%= f.label :gender %>&nbsp&nbsp
            <%= f.radio_button :gender, 'male', :checked => true %> 
            <%= f.label :gender, 'male' %>
            <%= f.radio_button :gender, 'female' %>
            <%= label :gender, 'female' %></br></br>

            <%= f.label :degignation %>
            <%= f.text_field :degignation, class: "form-control" %></br>

            <%= f.label :date_of_joining %>&nbsp&nbsp
            <%= f.date_select :date_of_joining, order: [:day, :month, :year] %></br></br>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %>
             <% end %>

             <%= f.label :password %> <i>(leave blank if you don't want to change it)</i></br>
             <%= f.password_field :password, autocomplete: "off", class: "form-control" %></br>
             
             <%= f.label :password_confirmation %></br>
             <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %></br>
             
             <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i></br>
             <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %> </br>
           </div>
           <%= f.submit "Update", class: "btn btn-default" %> &nbsp
           <button type="reset" class="btn btn-default">Reset Button</button>
         <% end %>
       </div>
     </div>
   </div>
 </div>
