<div class="table-responsive">   
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th colspan="3"><center>Operations</center></th> 
      </tr>
    </thead>            
    <% @employees.each do |employee| %>
      <tr>
        <td><b><%= employee.full_name %></b></td>

        <td><i><%= employee.email %></i></td>
        <td>
          <% if employee.confirmed? %>
            <span class="label label-success">Approved</span>
          <% else %>            
            <%= link_to "Approve", confirm_employee_admin_dashboard_path(employee.id),method: :post, class: "btn btn-xs btn-primary" %>
          <% end %>
        </td>  
  
        <td><%= link_to "", employee_salary_slip_index_path(employee.id), class: "glyphicon glyphicon-file tipsy-tooltip", title: "View Salary Info" %></td>
        
        <td><%= link_to "", employee_bank_detail_index_path(employee.id) , class: "fa fa-university tipsy-tooltip", title: "View Bank Info" %></td>

        <td><%= link_to_unless(employee.is_admin?, "", admin_dashboard_path(employee.id), :method=> :delete, remote: true, class: "glyphicon glyphicon-trash tipsy-tooltip", title: "Delete Employee", data: {confirm: 'Are you sure you want to delete?'}) %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate @employees, renderer: BootstrapPagination::Rails %>
</div>