<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Enter required information
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <i class="glyphicon glyphicon-arrow-left"></i> <%= link_to "Back", :back %>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= form_for(@salary_info, url: employee_salary_slip_index_path, html: { method: :post }) do |f| %>
          <div class="table-responsive"> 
            <table class="table table-bordered table-hover">
              <tr>
                <td><%= f.label :employee_name %>&nbsp&nbsp</td>
                <td><%= @employee.full_name %></td>
              </tr>
              <tr>
                <td><%= f.label :employee_no %></td>
                <td><%= @employee.id %></td>
              </tr>
              <tr>
                <td><%= f.label :email %></td>
                <td><%= @employee.email %></td>
              </tr>
              <tr>
                <td><%= f.label :address %></td>
                <td><%= @employee.address %></td>
              </tr>
              <tr>
                <td><%= f.label :mobile %></td>
                <td><%= @employee.mobile %></td>
              </tr>
            </table>
            
            <table class="table table-bordered table-hover">
              <tr></br>
                <td><%= f.label :basic %>&nbsp&nbsp</td>
                <td><%= f.text_field :basic %></td>
              </tr>
              <tr>
                <td><%= f.label :total_working_days %>&nbsp&nbsp</td>
                <td><%= select_tag :total_working_days, options_for_select(0..31, 0) %></td>
              </tr>
              <tr>
                <td><%= f.label :employee_working_days %></td>
                <td><%= select_tag :working_days, options_for_select(0..31, 0) %></td>
              </tr>
              <tr>
                <td><%= f.label :Extra %></td>
                <td><%= f.text_field :allowance_added, value: "0" %></td>
              </tr>
              <tr>
                <td><%= f.label :month_and_year %></td>
                <td><%= f.text_field :month, class: "datepicker", id: "selectDate", placeholder: "dd-mm-yyyy" %>
                </td>
              </tr>
            </table>
            <%= f.submit "Generate Slip", class: "btn btn-default" %> &nbsp
            <button type="reset" class="btn btn-default">Reset Button</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
