<div id="page-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">
          Salary Slip
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <%= link_to " Home", employees_dashboard_path, class: "glyphicon glyphicon-home" %>
          </li>
          <li class="active">
            <%= link_to " Salary Slip Home", employees_dashboard_index_path, class: "glyphicon glyphicon-th-list" %>
          </li>
          <li class="active">
            <i class="fa fa-edit"></i> <%= link_to "Back", :back  %>
          </li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>
            <%= image_tag(@current_org.logo_url) if @current_org.logo? %>
        </p>
        <div class="table-responsive"> 
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <td><b>Employee Name</b></td>
              <td><b><%= @employee.full_name %></b></td>
            </tr>
            <tr>
              <td>Employee ID</td>
              <td><%= @employee.id %></td>
            </tr>
            <tr>
              <td>Email</td>
              <td><%= @employee.email %></td>
            </tr>
            <tr>
              <td>Address</td>
              <td><%= @employee.address %></td>
            </tr>
            <tr>
              <td>Mobile</td>
              <td><%= @employee.mobile %></td>
            </tr>
            <tr>
              <td>Basic</td>
              <td><%= number_to_currency(@salary_info.basic, precision: 2, unit: "₹ ") %></td>
            </tr>
            <tr>
              <td>HRA</td>
              <td><%= number_to_currency(@salary_info.hra, precision: 2, unit: "₹ ") %></td>
            </tr>
            <tr>
              <td>Date</td>
              <td><%= dd_mm_yyyy_date_helper(@salary_info.month) %></td>
            </tr>
            <tr>
              <td>Provident Fund</td>
              <td><%= number_to_currency(@salary_info.provident_fund, precision: 2, unit: "₹ ") %></td>
            </tr>
            <tr>
              <td>Proffesional Tax</td>
              <td><%= number_to_currency(@salary_info.proffesional_tax, precision: 2, unit: "₹ ") %></td>
            </tr>
            <tr>
              <td>Gross Earning</td>
              <td><%= number_to_currency(@salary_info.gross_earning, precision: 2, unit: "₹ ") %></td>
            </tr>
            <tr>
              <td>Gross Deduction</td>
              <td><%= number_to_currency(@salary_info.gross_deduction, precision: 2, unit: "₹ " ) %></td>
            </tr>
            <tr>
              <td><b>Net Pay</b></td>
              <td><b><%= number_to_currency(@salary_info.net_pay, precision: 2, unit: "₹ ") %></b></td>
            </tr>
          </table>
          <div>
            <%= link_to " Download Pdf", show_slip_employee_salary_slip_path(@salary_info.employee_id, @salary_info.id, format: "pdf") , class: "glyphicon glyphicon-download-alt" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
